
<h1>Sign-up Page</h1>
<div class="credentials-form">
    <form method="POST" action="/auth/signup">

        <label for="username-field">Username:</label>
        <input id="username-field" type="text" name="username">

        <label for="email-field">Email:</label>
        <input id="email-field" type="text" name="email">

        <!-- <div id="password"> -->
            <label for="password-field">Password:</label>
            <input id="password-field" type="password" name="password">

            <label for="password-verify-field">Password Verify:</label>
            <input id="password-verify-field" type="password" name="password_verify">
        <!-- </div> -->
        
        <label for="firstname-field">First Name:</label>
        <input id="firstname-field" type="text" name="firstname">

        <label for="last-field">Last Name:</label>
        <input id="last-field" type="text" name="lastname">

        <label for="birthday-field">Birthday:</label>
        <input id="birthday-field" type="text" name="birthday">

        <label for="profile-field">Profile Pic:</label>
        <input id="profile-field" type="text" name="profile">

        <label for="bio-field">Bio:</label>
        <textarea id="bio-field" type="text" name="bio"> </textarea>
        <input id="submit" type="submit" value="Sign Up">
    </form>
</div>