<h1>Change Your Profile Here!</h1>

<form id="profile-card" class="profile-edit, form" method="POST" action="/profile/edit?_method=PUT">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username">

    <label for="profile">Profile Pic:</label>
    <input type="text" name="profile">

    <label for="bio">Bio:</label>
    <textarea id="bio" type="text" name="bio"> </textarea>
    <br>
    <input id="submit" type="submit" value="Edit Profile" rows="3">

</form>

