<!DOCTYPE html>
    <head>
        <title>Project 2 - Book App</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    </head>
    <body>
        <%- include ./partials/header %>
        <div class="container">
            <%- include ./partials/alerts %>
            <%- body%>
        </div>
       
    </body>
    <%- include ./partials/footer %>
</html>
