<!DOCTYPE html>
    <head>
        <title>Auth Boilerplate</title>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include ./partials/header %>
        <div class="container">
            <%- include ./partials/alerts %>
            <%- body%>
        </div>
       
    </body>
    <%- include ./partials/footer %>
</html>
